.teamwork-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.teamwork-title {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.teamwork-subtitle {
    max-width: 470px;
    color: #232536;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
}

.teamwork-desc {
    color: #232536;
    max-width: 505px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.teamwork-pictures {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
}

.teamwork-card {
    position: relative;
}

.teamwork-card__overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transition: all 0.4s ease 0s;
}


.teamwork-card:hover .teamwork-card__overlay {
    visibility: visible;
    opacity: 0.9;
    background: rgba(35, 37, 54, 0.99);
    cursor: pointer;
}

.teamwork-card__info {
    display: flex;
    flex-flow: column;
    gap: 15px;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3 ease 0s;
    cursor: pointer;
}




.teamwork-card:hover .teamwork-card__info {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.teamwork-card__title {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.teamwork-card__subtitle {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

}

.teamwork-card__social {
    display: flex;
    gap: 10px;
}