.support-section {}

.support-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 96px;
}

.support-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.support-title {
    color: #000;
    opacity: 0.87;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.support-subtitle {
    color: #232536;
    max-width: 624px;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 54px;
}

.support-desk {
    color: #232536;
    max-width: 622px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.support-right {}

/* Development section */

#developoment-section {
    background-color: #ECF8F9;
}

.services-developoment {
    flex-direction: row-reverse;
}

/* Azure section */

/*closed Azure section */



/* Consulting section */
#consulting-section {
    background-color: #F9F9FF;
}
.reverse {
    flex-direction: row-reverse;
}

/*closed Consulting section */
